*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0),rgb(0, 0, 0)),url(../multimedia/pastel-clouds-on-dark-background-22153ds7szekuogz.jpg);
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5em;
}
header, footer{
   background-color: black;
   width:100%;
}

.navegacion{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 2px;
    background-color: grey;
}
nav{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}



header{
    height: 4em;
}
footer{
    
    color:white;
    position:absolute;
    height: 3em;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes{
    width:100px;
}