*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-image: url(../multimedia/background.png);
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5em;
}
header, footer{
   background-color: rgb(5, 95, 111);
   
}

.navegacion, .iniciarSesion, .registrar{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
    
}
.navegacion{
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.navegacion:hover ,.iniciarSesion:hover , .registrar:hover {
    transition-duration:0.4s ;
    transition-timing-function: ease-in-out;
    background-color: rgb(0, 61, 71);
}
.iniciarSesion, .registrar{
    padding: 4px 3px;
}
footer{
    width: 100%;
    color:white;
    position:absolute;
    height: 3em;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda{
    height: 4em;
    border-bottom: 1px solid rgb(154, 243, 233);
    display: grid;
    grid-template-columns: 100px 500px 1fr 100px 150px ;
    
}
.ingresoUsuario{
    grid-column: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
img[alt="icono samco"]{
    height: 63px;
}
#formBusqueda{
    width: 100%;
    grid-column-start: 3;
    display: flex;
    align-items: center;
}
.search{
    height:2.5em;
    width:65%;
    font-size: medium;
    padding-left: 20px;
    border-radius:20px;
    
}
.search:focus-visible{
    transition:  0.6s all ease-in-out;
    box-shadow: 0px 0px 3px 3px white;
}
.menu{
    height: 2.2em;
    width: 35em;
    margin:auto;
    display: flex;
    justify-content: space-between;
    
}

#redes{
    width:100px;
}
header{
    position:sticky;
    top:0;
}