.obligatorio{
    color:red;
}
h2{
    text-align: center;
    font-size: 3em;
}
fieldset{
    width:60%;
    margin:0px auto;
    
    border-radius: 15px;
    border: 3px solid rgb(0, 61, 71);
    
    
}
.caja{
    display: grid;
    grid-template: repeat(3,1fr) / repeat(2,50%) ;
}
.caja section , .caja2 section{
    margin: 1em 0px;
    display: flex;
    justify-content: flex-end ;
}
.caja2 {
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr) ;
}
.botones{
    text-align: center;
}


